// variables and their values
$primary-color: #100F0F;
$accent-color: #0F3D3E;
$text-color: #F1F1F1;

// maps -> contains keys and values.
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);
